
.icon-mail:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-twitter:before { content: '\f303'; } /* '' */
.icon-googleplus:before { content: '\f309'; } /* '' */